# shellcheck shell=bash

alias aptup='sudo apt-get update && sudo apt-get dist-upgrade -y && sudo apt-get autoremove --purge -y'
alias ll='ls -al'
alias vi=nvim
alias vim=nvim
alias b='git checkout'
function update-submodules {
  git submodule update --init --recursive &&
    git submodule foreach git pull --recurse-submodules origin master
}
