[user]
	name = Dave Barr
	email = 459710+davebarr@users.noreply.github.com
[alias]
	b = branch
	co = checkout
	s = status
	br = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
	p = pull
	logline = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[core]
	excludesfile = /Users/barr/.gitignore
  pager = delta
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[delta]
  dark = true
  side-by-side = true
  navigate = true
  keep-plus-minus-markers = true
  file-added-label = [+]
  file-copied-label = [==]
  file-modified-label = [*]
  file-removed-label = [-]
  file-renamed-label = [->]
  file-style = omit
  zero-style = syntax
  syntax-theme = DarkNeon
  commit-decoration-style = green box
  commit-style = yellow bold italic
  hunk-header-decoration-style = blue box ul
  hunk-header-style = file line-number syntax bold italic
  line-numbers = true
  line-numbers-left-format = "{nm:>1}|"
  line-numbers-left-style = blue
  line-numbers-minus-style = red bold
  line-numbers-plus-style = green bold
  line-numbers-right-format = "{np:>1}|"
  line-numbers-right-style = blue
  line-numbers-zero-style = white italic
  whitespace-error-style = purple bold
